/* CSS Document */
body.adminlogin{background:url(../img/bg_12.png) repeat-x left 200px;}
.login {width:600px;margin:auto;position:relative}
.login .logo{width:237px;height:60px;background:url(../img/admin-logo.png) no-repeat; position:absolute;left:0;top:225px;}
.login .logintb{width:296px;height:256px;background:url(../img/bg_13.png) left top;position:absolute;right:0;top:160px;}
.login .logintb .loginform{padding:40px 30px 30px 30px;position:relative}
.login .logintb .loginform .ts{color:#F00;font-size:14px;height:16px;line-height:16px;position:absolute;top:20px;}
.login .logintb .loginform .i{margin-bottom:12px;line-height:20px;}
.login .logintb .loginform .i .linp{width:165px;padding:6px}
.login .logintb .loginform .i a,.login .logintb .loginform .i span{font-size:14px;}
.login .logintb .loginform .yzm{margin-bottom:35px;line-height:30px;}
.login .logintb .loginform .yzm span{float:left;margin-right:5px;}
.login .logintb .loginform .yzm span.t{margin:0;font-size:12px;}
.login .logintb .loginform .yzm .linp{width:80px;}
.login .logintb .loginform .btn{padding-top:15px;padding-left:50px;}
.login .adminfoot{position:absolute;top:500px;text-align:center;width:600px;font-size:14px;color:#999}
.admin {position:relative}
.admin .head {position:relative;height:68px;background:#F4F9FB;border-bottom:5px solid #84C0D0}
.admin .head .logo{background:url(../img/admin-logo2.png) no-repeat;left:10px; top:0px;width:262px;height:70px;position:absolute}
.admin .head .logo a{display:block;width:94px;height:40px;}
.admin .head .txt{color:#CCC;position:absolute;right:20px;top:40px;font-size:14px;}
.admin .head .esc{position:absolute;width:85px;right:140px;top:40px;color:#666;}
.admin .head .esc a{display:block;background:url(../img/bg_10.png) left center no-repeat;padding-left:18px;color:#666;font-size:14px;}

.leftcon{width:145px;border-right:5px solid #C1DFE7;position:absolute;top:0;left:0;height:100%;}
.leftcon li{border-bottom:1px solid #DDD;padding:6px 0;text-align:center}
.leftcon li a{display:block;width:122px;line-height:26px;margin:auto;outline:0;}
.leftcon li .list a{color:#666;font-size:12px;}
.leftcon li .list a:hover{color:#c00;font-size:12px;}
.m_tit{font-weight:bold;font-size:14px;}
.m_def{background:none;}
.m_def:hover{background:url(../img/btn_8.gif);}
.m_cur{background:url(../img/btn_8.gif);}
.m_cur:hover{background:url(../img/btn_8.gif);}

.admin .content{padding:25px;}
.admin .content .listtit{height:30px;overflow:hidden;margin-bottom:0;}
.admin .content .listtit select{width:100px;margin-left:10px;}
.admin .content .listtit b{font-size:14px;}
.admin .content .list{clear:both}
.admin .content .list a{color:#666;font-size:14px;}
.admin .content .list .right a{margin-left:15px}
.admin .content .list .i{padding:12px 0;border-bottom:1px dotted #DDD;height:18px;padding-left:14px;}
.admin .content .list .t{padding:12px 0;border-bottom:1px dotted #DDD;height:18px;}
.admin .content .list .t span a.tit{background:url(../img/bg_14.png) no-repeat left center;padding-left:15px;}
.admin .content .list2 .i{padding-left:0}
.admin .admin-foot{text-align:center;color:#999;padding-top:15px;border-top:5px solid #C1DFE7;font-size:14px;}
.admin .admin-foot .txt{font-size:14px;color:#999;}
.boxy p{text-align:center;color:#666;padding:10px 0;font-size:14px;height:30px}
.boxy p.txt .linp{width:330px;padding:4px;float:left}
.boxy p span{float:left;font-size:14px;line-height:30px;color:#666;display:block;width:100px;text-align:right}
.boxy p.btn .btn1{float:left;margin-right:15px;}
.boxy p.btn .close{float:left;line-height:28px}
.boxy p.btn{padding-left:100px;}
#addpro-xh p.txt select{float:left;width:100px;}
.porinf p {clear:both;margin-bottom:20px;}
.porinf p span{line-height:28px;font-size:14px;color:#666}
.porinf p span.ts{padding-left:10px;background:url(../img/bg_18.png) left center no-repeat;margin-left:20px;color:#F00}
.porinf p .linp{width:550px;padding:3px;}
.porinf p .addfile{border:1px solid #DDD;padding:2px;}
.porinf p .addziliao{width:320px;}
.porinf p select{width:100px;}
.porinf p.ziliao{height:30px;border-bottom:1px dashed #DDD}
.porinf p.ziliao .left a{font-size:14px;}
.porinf p.ziliao .right b,.porinf p.ziliao .right a{font-weight:normal;margin-left:10px;font-size:14px;}
.porinf p.btn a{line-height:30px;}
.porinf p.btn .btn2{margin-right:20px;}

.sollimg li{overflow:hidden;margin-bottom:20px;clear:both}
.sollimg li img{margin-right:10px;}

.password p{height:40px;}
.password p .linp{width:300px;border:1px solid #CCC;background:#F8F8F8}
