/*page.class.php*/
.pagination{ font-size:14px; font-family:Arial; height:25px; position:relative;width:100%;text-align:center;overflow:hidden;}
.pagination .page-floatR{ float:right; position:relative; left:0;}
.pagination .page-floatL{ float:left; position:relative; left:0;}
.pagination .page-floatC{ float:left; position:relative;left:50%;}
.right50{ right:50%;}
.left0{ left:0;}
.right0{ right:0;}

.pagination a,.page-prev,.page-next,.page-cur,.page-start,.page-end,.page-break {
	float:left; font-family:'Arial'; font-size:14px; position:relative; margin:0px 5px 0px 0px; vertical-align:middle; height:18px; line-height:18px; white-space:nowrap; text-align:center;
}

.pagination a { color:#336699; padding:0 4px;}
.pagination a:hover { background-color:#0099CC; color:#ffffff; text-decoration:none;}

a.page-prev {}
a.page-prev span { color:#336699;}
a.page-prev:hover{ background-color:#0099CC;}
a.page-prev:hover span{ color:#ffffff;}
a.page-next {}
a.page-next span { color:#336699;}
a.page-next:hover{ background-color:#0099CC;}
a.page-next:hover span{ color:#ffffff;}

.page-start,.page-end {padding:0 4px;}
.page-start{}
.page-start span{ color:#cccccc;}
.page-end  {}
.page-end   span{ color:#cccccc;}
.page-break{ padding:0 3px;}
.page-cur  { padding:0 4px; background-color:#0099CC; color:#ffffff;}